#app {
    display: flex;
    justify-content: center;
    align-items: center;
}

.camera {
    width: 640px !important;
    height: 480px !important;
}

* {
    font-family: 'Comfortaa', cursive !important;
}